{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود کارکنان</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="login-body">
    <div class="login-box">
        <h2>ورود به پنل کافه ☕</h2>
        
        {% if form.errors %}
            <div class="error">نام کاربری یا رمز عبور اشتباه است.</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="نام کاربری" required autocomplete="username">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="رمز عبور" required autocomplete="current-password">
            </div>
            <button type="submit" class="btn btn-primary">ورود به سیستم</button>
        </form>
    </div>
</body>
</html>
